<ion-content>
  <ion-card>
    <ion-card-header>
      Encryption Test
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Test Input" [(ngModel)]="testInput"></ion-input>
      </ion-item>
      <ion-button (click)="testEncryption()">Test Encryption</ion-button>
      <ion-textarea
        readonly
        label="Encrypted Result"
        [value]="testResult"
      ></ion-textarea>
    </ion-card-content>
  </ion-card>
  <ion-list>
  </ion-list>
</ion-content>