<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="cancel()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="add-note-content">
  <div class="note-form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Create a Secure Note</ion-card-subtitle>
        <ion-card-title>Add Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Title</ion-label>
          <ion-input [(ngModel)]="note.title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Content</ion-label>
          <ion-textarea rows="6" [(ngModel)]="note.content"></ion-textarea>
        </ion-item>
      </ion-card-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button color="primary" (click)="save()">
              Save Note
            </ion-button>
            <ion-button color="medium" (click)="clearForm()">
              Clear
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-card>
  </div>
</ion-content>
