<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <ion-icon name="lock-closed" class="title-icon"></ion-icon>
      SecureNotes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div class="header-box">
    <h1>Add Your Note</h1>
  </div>

  <div class="form-container">
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input [(ngModel)]="note.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Content</ion-label>
      <ion-textarea rows="6" [(ngModel)]="note.content"></ion-textarea>
    </ion-item>

    <div class="button-row">
      <ion-button color="primary" (click)="save()">
        Save Note
      </ion-button>
      <ion-button color="danger" (click)="clearForm()">
        Delete content
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
