<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input
        name="username"
        type="text"
        required
        [(ngModel)]="username"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        name="password"
        type="password"
        required
        [(ngModel)]="password"
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="!form.valid"
    >
      Register
    </ion-button>

    <ion-text color="danger" *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </ion-text>

    <ion-button
      expand="block"
      fill="clear"
      (click)="goBack()"
    >
      Cancel
    </ion-button>
  </form>
</ion-content>
