<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SecureNotes - Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-container">
    <ion-card class="register-card">
      <ion-card-header>
        <ion-card-subtitle>New Account</ion-card-subtitle>
        <ion-card-title>Join Us</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form #form="ngForm" (ngSubmit)="onRegister()" novalidate>
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Username</ion-label>
              <ion-input
                name="username"
                type="text"
                required
                [(ngModel)]="username"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input
                name="password"
                type="password"
                required
                [(ngModel)]="password"
              ></ion-input>
            </ion-item>
          </ion-list>

          <ion-button
            expand="block"
            type="submit"
            [disabled]="!form.valid"
          >
            Register
          </ion-button>

          <ion-text color="danger" *ngIf="errorMessage">
            <p>{{ errorMessage }}</p>
          </ion-text>

          <ion-button
            expand="block"
            fill="outline"
            (click)="goBack()"
          >
            Cancel
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
